* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #292a2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
}

h1 {
  font-family: Poppins, sans-serif;
  color: beige;
  font-size: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.clock-frame {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 0.5rem solid #292a2e;
  background-image: url("../images/Adanna_ClockBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 15px 15px #202124, inset 0px 15px 15px #202124,
    0px -15px 15px #2d2d31, inset 0px -15px 15px #2d2d31;
  position: relative;

  .hour-hand {
    height: 4.5rem;
    width: 0.5rem;
    background-color: #626258;
    border-radius: 1rem;
    position: absolute;
    top: 15rem;
    left: 14.8rem;
    animation: turnhr 43200s infinite linear;
  }

  .min-hand {
    height: 7rem;
    width: 0.5rem;
    background-color: beige;
    border-radius: 1rem;
    position: absolute;
    top: 15rem;
    left: 14.8rem;
    animation: turnmin 3600s infinite linear;
  }

  .second-hand {
    height: 9rem;
    width: 0.2rem;
    background-color: #ffbe0b;
    border-radius: 0.5rem;
    position: absolute;
    top: 15rem;
    left: 14.5rem;
    animation: turnsec 60s infinite linear;
  }

  .circle {
    height: 1.7rem;
    width: 1.7rem;
    background-color: #ffbe0b;
    border-radius: 50%;
    position: absolute;
    top: 14.05rem;
    left: 13.95rem;
  }
}

@keyframes turnhr {
  0% {
    transform: rotate(210deg);
    transform-origin: 0% 0%;
  }

  100% {
    transform: rotate(570deg);
    transform-origin: 0% 0%;
  }
}

@keyframes turnmin {
  0% {
    transform: rotate(180deg);
    transform-origin: 0% 0%;
  }

  100% {
    transform: rotate(540deg);
    transform-origin: 0% 0%;
  }
}

@keyframes turnsec {
  0% {
    transform: rotate(180deg);
    transform-origin: 0% 0%;
  }

  100% {
    transform: rotate(540deg);
    transform-origin: 0% 0%;
  }
}
